[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"344cdaf" = {file = "http://download.pytorch.org/whl/cu80/torch-0.3.0.post4-cp36-cp36m-linux_x86_64.whl"}
numpy = "*"
gym = "*"
torchvision = "*"


[dev-packages]

